body {
margin: 0;
}
nav{
  background-color: #34495e;
}

.navbar-brand{
  font-family: 'Borel', cursive;
}

/* product css */
.cart-item {
  display: inline-flex;
  margin: 20px 0;
  border: 1px solid gray;
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
}
.cart-item .right-block {
  padding: 0 20px 10px 20px;
}
.left-block{
  display: flex;
  margin: 5px;
  padding: 5px;
  justify-content: center;
}
.left-block img{
  width: 100%;
  max-width: 200px;
  height: inherit;
}
.right-block{
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 35px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.cart-item-actions {
  margin-top: 20px;
}
.action-icons {
  height: 20px;
  width: 20px;
}
.cart-item-action button{
  margin-right: 10px;
  margin-top: 5px;
  width: fit-content;
}
.cart-item-action button:hover{
  background-color: none;
}

/* cart count */
.count{
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
}


.action-icons:hover {
  cursor: pointer;
  color: white;
}

/* add product form  */

.new-form{
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
form{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 25px;
  width: 100%;
  max-width: 800px;
}
